<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<li id="anno-title">Topic</li>
		<div id="anno-area-content">
			<div class="tag-box">
				<textarea rows="2" cols="80" id="status-input">暑期小学期</textarea>
			</div>
		</div>
		
		<li id="anno-title">receivers</li>
		<div id="anno-area-content">
			<div class="tag-box">
				<textarea rows="2" cols="80" id="status-input">grade09</textarea>
			</div>
		</div>
		
		<li id="anno-titile">main content</li>
		<div id="anno-area-content">
			<div class="tag-box">
				<textarea rows="10" cols="80" id="status-input">我们暑期还是要上小学期啊，哎。。。</textarea>
			</div>
		</div>
<div id="mail-button">
	<ul class="mailbuttons">
		<input type="button" value="Send">
		<input type="button" value="Quit">
	</ul>
</div>
	</body>
</html>
