<!DOCTYPE  html>
<html>
	<head>
		<title>reply</title>
		<link type="text/css" rel="stylesheet" href="/static/css/qa.css" />
	</head>
	<body>
		<h3 id="reply-title">在此输入你的回复</h3>
		<div id="reply-area-content">
			<div class="tag-box">
				<textarea rows="4" cols="80" id="status-input">我也是这么想的，嘿嘿</textarea>
			</div>
		</div>
		<div id="reply-button">
			<ul class="replybutton">
				<input type="button" value="回复">
				<input type="button" value="放弃">
			</ul>
		</div>
	</body>
</html>
