<!DOCTYPE html>
<html>
	<head>
		<title>answer</title>
		<link type="text/css" rel="stylesheet" href="/static/css/qa.css" />
	</head>
	<body>
		<h3 id="answer-title">你的回答</h3>
		<div id="answer-area-content">
			<div class="tag-box">
				<textarea rows="8" cols="80" id="status-input">我也是这么想的，嘿嘿</textarea>
			</div>
		</div>
		<div id="qa-button">
			<ul class="qabutton">
				<input type="button" value="提交">
				<input type="button" value="放弃">
			</ul>
		</div>
	</body>
</html>
