<div id="usergroup-popup">
    <input id="popup-group-id" type="hidden" value = {{group.pk }} />
    <div>
        <span class="left">组名：<input id="groupname" type="text" value="{{ group.description }}" /></span><span class="right"><label>筛选：</label><input id="filter-input" type="text" /></span>
    </div>
    <p class="clear"></p>
    <div id="advanced-filter">
        从<input id="range-start" type="text" />到<input id="range-end" type="text" /><input id="range-filter" type="button" value="筛选" />
    </div>
    <ul id="selected-list">
        {% for user in users_in %}
        <li class="group-popup-target">
            <span class="id">{{ user.pk }}</span>
            <span class="avatar">
                <img src="/static/images/profile/{{ user.pk }}" width="16" height="16" />
            </span>
            <span class="njuid">{{ user.get_profile.nju_id }}</span>
            <span class="name">{{ user.get_profile.name }}</span>
            <p class="clear"></p>
        </li>
        {% endfor %}
    </ul>
    
    <ul id="candidate-list">
    {% for user in users_not_in %}
        <li class="group-popup-target">
            <span class="id">{{ user.pk }}</span>
            <span class="avatar">
                <img src="/static/images/profile/{{ user.pk }}" width="16" height="16" />
            </span>
            <span class="njuid">{{ user.get_profile.nju_id }}</span>
            <span class="name">{{ user.get_profile.name }}</span>
            <p class="clear"></p>
        </li>
        {% endfor %}
    </ul>
    <p class="clear"></p>
    <input id="group-submit" type="button" value="修改分组" />
    <script type="text/javascript" src="/static/js/jquery/jqueryui/jquery.ui.droppable.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jqueryui/jquery.ui.draggable.min.js"></script>
    <script type="text/javascript" src="/static/js/usergroup-popup.js"></script>
    <script type="text/javascript" src="/static/js/usergroup-manage-popup.js"></script>
</div>