<div id="usergroup-popup">
    <div>
        <span class="left">组名：<input id="groupname" type="text" /></span><span class="right"><label>筛选：</label><input id="filter-input" type="text" /></span>
    </div>
    <p class="clear"></p>
    <div id="advanced-filter">
        从<input id="range-start" type="text" />到<input id="range-end" type="text" /><input id="range-filter" type="button" value="筛选" />
    </div>
    <ul id="selected-list">
        
    </ul>
    
    <ul id="candidate-list">
    <!--<li><span class="id">4</span><span class="avatar"><img src="/static/images/profile/4" width="16" height="16" /></span><span class="njuid">091250198</span><span class="name">姚佳玮</span><p class="clear"></p></li>   -->
    </ul>
    <p class="clear"></p>
    <input id="group-submit" type="button" value="创建分组" />
    <script type="text/javascript" src="/static/js/jquery/jqueryui/jquery.ui.droppable.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jqueryui/jquery.ui.draggable.min.js"></script>
    <script type="text/javascript" src="/static/js/usergroup-popup.js"></script>
    <script type="text/javascript" src="/static/js/usergroup-new-popup.js"></script>
</div>