<div class="popup-box">
	<h3>申请表</h3>
	
	<label>申请对象：</label><br />
	<input type="text" id="popup-rent-receiver" class="input-tip popup-receiver" value="在此输入申请对象" /><br />
	<input type="hidden" id="target-pk" <br />
	
	<label>设备名称：</label><br />
	<input type="text" id="popup-rent-equipname" class="input-tip" value="在此输入设备名称" /><br />
	
	<label>申请理由：</label><br />
	<textarea id="popup-rent-content" class="input-tip">在此输入申请理由</textarea>
	
	<div class="popup-buttons">
		<input id="popup-rent-send" type="button" value="发送">
		<input class="popup-cancel" type="button" value="取消">
	</div>
	<script type="text/javascript">
    $('#popup-rent-receiver').autocomplete({
        minLength: 1,
        source: function(request, response){
            //console.info(request);
            $.getJSON('/search/user', {realname: request.term}, function(data){
                response($.map(data, function(item){
                    var profile = oops.tryGetProfileFromCache(item.pk);
                    return {
                    label: profile.name,
                    value: profile.name,
					pk: item.pk
                    }
                }));
            });
        },
        select: function(event, ui){
            $(this).val(ui.item.label);
			$('#target-pk').val(ui.item.pk);
        }
    });
    </script>
</div>