<div id="share-status">
	<label>您要分享的链接</label><br/>
	<input id="link" type="text">
	<label>您的评论</label><br/>
	<textarea id="comment"></textarea>
	<div class="next">
	   <a id="share">分享</a>&nbsp&nbsp
	   <a id="pre">设置权限</a>
	</div>
</div>
<script>
$("#share").click(upload);

function upload() {
    var comment = $("#comment").val();
    var url = $("#link").val();
    $.ajax({
         url: '/share/crud/',
         type: 'PUT',
         dataType: 'json',
         data: $.toJSON({
            url: url,
            comment: comment,
            type: 'link',
         }),
         success: function(id){
            $("#pre").attr("href", '/share/pre/' + id).fancybox({
                transitionIn: 'elastic',
                transitionOut: 'elastic',
                overlayOpacity: 0.1,
                opacity: true,
            });
            $.ajax({
               url: '/share/crud/'+id,
               type: 'GET',
               dataType: 'json',
               success: function(data){
                 var shareLi = $(oops.makeShareLi(data[0]));
                 shareLi.prependTo($('#share-list'));
               },
               error: function(){
                  oops.oops('读取分享失败');
               }
            });
            oops.notif('分享成功！');
         },
         error: function(){
            oops.oops('分享失败！');
         }
      });
}
</script>
